@charset "ISO-8859-1";
* 
:required
{
background-color: 
width:30%; ;
}

p{
color: blue;
}
h2 {
  font-family: Arial;
 }
h3{
  color: FireBrick;
}
 h1{
 color: blue;
}
label{
display: block;
width: 150px;
float: left;
}
          
html {
height: 100%;
}
 
body{
	width: 600px;
	margin: auto;
	background-color: #E2ECEE;
}

.itmsColumn { 
border:1px solid red; 
height:50%; 
width:99%; 
overflow:auto; 
}

.container {
   min-height:100%;
   position:relative;
}
.footer {
   position:absolute;
   width:100%;
   height:10px;   
   background:#6cf;
}
